<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Item Report</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 11px;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    th, td {
      border: 1px solid #333;
      padding: 4px;
      text-align: left;
      word-wrap: break-word;
    }

    th {
      background-color: #eee;
    }

    strong {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Records Report</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
          <th>নাম, মডেল & উৎপত্তি</th>
        <th>পণ্য (স্টোর)</th>
        <th>পণ্য (ব্যবহার)</th>
        <th>পণ্য (স্টোরে নষ্ট)</th>
        <th>পণ্য (ব্যবহারে নষ্ট)</th>
        <th>পণ্য ( আন্তঃকেন্দ্রীক বদলী)</th>
        <th>স্থান</th>
        <th>উদ্দ্যেশ্য</th>
        <th>সময়</th>
        <th>স্ট্যাটাস</th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
  </table>
</body>
</html>
